.App {
  //background: linear-gradient(145deg, rgba(33, 3, 120, 1),
                                      rgba(52, 3, 170, 1),
                                      rgba(20, 90, 255, 1));
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif;
}

nav ul {
  margin: 0;
}

h1 {
  font-size: 5em;
  margin:0;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  margin:0;
  font-weight: 400;
}
h4 {
  font-size: 1em;
  margin:0;
  font-weight: 300;
}
