nav button {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  font-weight: 400;

  display:inline-block;
  padding:0.5em 1em 0.5em 0em;
  width:130px;
  position:relative;

  transition: all 0.5s;
}

nav button:focus {
  outline:none;
}

.home nav button,
.portfolio nav button,
.research nav button {
  color:white;
}

.about nav button,
.blog nav button,
.contact nav button {
  color:black;
}

.home nav button:hover,
.portfolio nav button:hover,
.research nav button:hover {
  color:rgba(255, 255, 255, 0.5);
  cursor: pointer
}

.about nav button:hover,
.blog nav button:hover {
  color:rgba(0, 0, 0, 0.5);
  cursor: pointer
}

.contact nav button:hover {
  color:rgba(155, 100, 0, 0.5);
  cursor: pointer
}

nav {
  padding:2em 1em 1.5em 3.5em;
  z-index: 3;
  left:0;
  top:0;
}
