Home {
  width:100%;
  color:white;
}

#name {
  margin:0;
  margin-top:0.1em;
  font-size: 5.5em;
  font-weight: 400;
  z-index:2;
  left: 5.5em;
  top: 2em;
  font-family: 'Pattaya', sans-serif;
  text-align: center;
  color:white;
}

#position {
  font-size: 2em;
  font-weight: 300;
  z-index:2;
  left: 5em;
  text-align: center;
  color:white;
}

#socials {
  margin-top: 3em;
}

#socials ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

#socials li {
  display: inline-block;
  padding:0.5em 2em;
}

.icons {
  font-size: 2em;
}
